body{
    background-image: url(images/pattern-lines.svg),
    url(images/background-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: initial;
    background-size: auto;
}