body{
    background-image: url(images/pattern-lines.svg),
    url(images/background-desktop.png);
  background-position: top, center;
    background-repeat: no-repeat;
    background-clip: initial;
    background-size: cover,auto; 
}
.gradient{
    background: linear-gradient(to right, rgb(223, 146, 3), white);
    background-clip: text;
    color:transparent
}